<style>
#canvas {
        width: 100vw;
        height: 100vh;
}
.text{
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.8em;
    z-index: 100;
    font-family: Lato, Helvetica, sans-serif;
    color: #f8f4ed;
}
.text:hover, .text:focus {
    color: #c63f2f;
    text-decoration: underline;
    text-decoration-color: currentcolor;
}
</style>
<body >
    <canvas id="canvas">
    </canvas>
    <div style="cursor: pointer;" onclick="window.location='/posts/web-rtl';" class="text navigation-link"><b>This is just the surface.</b>
    </div>
<script type="module">
    import init, {test_simulator} from './divein/divein.js';
    async function run() {
        await init();
    
        let req = new Request('frames.gz');
        fetch(req).then((res)=>{
            if (!res.ok) {
                throw new Error('not found');
            }
            return res.arrayBuffer();
        }).then((ab)=>{
            let result = pako.ungzip(new Uint8Array(ab));
            test_simulator(result);
        });
    }
    run();
</script>
</body>
</script src="./divein/divein_bg.wasm" type="application/wasm">
</script src="./divein/divein_bg.js">
</script src="./divein/divein.js">
<script src="https://cdn.jsdelivr.net/pako/1.0.3/pako.min.js"></script>
<script>
</script>
