@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body.inverted {

  color: $fg-color-inverted;
  background-color: $bg-color-inverted;
  
  a {
    color: $link-color-inverted;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $alt-fg-color-inverted;
  }

  code {
    background-color: $alt-bg-color-inverted;
    color: $fg-color-inverted;
  }

  pre {
    code {
      background-color: inherit;
      color: inherit;
    }
  }

  blockquote {
    border-left: 2px solid $alt-bg-color-inverted;
  }

  table td, table th {
    border: 2px solid $alt-fg-color-inverted;
  }

}
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}
