<head>
  {{ template "_internal/google_analytics.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
</head>
<nav class="navigation" style="z-index: 2000">
    <section class="container" style="z-index: 2000">
        <ul class="navigation-list">
            {{ with .Site.Menus.main}}
            {{ range sort . }}
            <li class="navigation-item">
                <a class="navigation-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
            {{ if .Site.IsMultiLingual }}
            {{ $node := . }}
            {{ .Scratch.Set "separator" true }}
            {{ range .Site.Home.AllTranslations }}
            {{ if ne $.Site.Language .Language }}
            {{ if $node.Scratch.Get "separator" }}
            <li class="navigation-item menu-separator">
                <span>|</span>
            </li>
            {{ $node.Scratch.Set "separator" false }}
            {{ end }}
            <li class="navigation-item">
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </li>
            {{ end }}
            {{ end }}
            {{ end }}
        </ul>
        <div style="align items: center; max-height: 0; display: table;">
            <a class="navigation-title" style="z-index: 20000" href="{{ .Site.BaseURL | absLangURL }}">
                {{ .Site.Title }}
            </a>
            {{ if eq .Kind "home" }}
            {{ partial "icons.html" . }}
            {{ end }}
        </div>
    </section>
</nav>
